:root {
    --gray-500:#667085;
    --redDestaque:#8E2424;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    overflow: overlay;
} 

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ffff;
}

ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.links a{
    text-decoration: none;
    color: #667085;
}

 .nav-bar {
 background:#ffff;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 1rem;
}

button {
    background: #fff;
    color: var(--gray-500);
    width: 6rem;
    height:2.5rem;
    border: 1px;
    border-radius: 4px;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.singUp {
    background-color: #8E2424;
    color: #FFF;
  }

  .about-us {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-us span {
  color: var(--redDestaque);
}

.about-us h1 {
  font-size: 2rem;
  color: #000;
  text-align: center;
}

.about-us p {
  color: var(--gray-500);
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

.ratings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    padding: 0 8rem;
  }
  
  .rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .rating h1 {
    color: var(--redDestaque);
    font-size: 3rem;
  }
  
  .rating p {
    color: var(--gray-500);
    line-height: 140%;
    font-size: 90%;
  }
  
  .rating .ratings-title {
    font-weight: 500;
    color: #101828;
  }

  .join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-top: 8rem;
    gap: 1rem;
  }

  .join-us h2 {
    text-align: center;
    color: var(--gray-500);
  }
  
  .join-us span {
    color: var(--redDestaque);
    background: rgba(142, 36, 36, 0.05);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  
  .join-us p {
    text-align: center;
    color: var(--gray-500);
  }
  
  .join-us img {
    margin-top: 2rem;
    width: 80%;
  }

  .available-jobs {
    padding-top: 4rem;
  }
  
  .available-jobs span.title-jobs {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #101828;
  }
  
  .vaga {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #101828;
  }
  
  .vaga span.titulo-vaga {
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .vaga .informacoes {
    margin-top: 1rem;
    font-size: 90%;
    color: var(--gray-500);
    display: flex;
    gap: 2rem;
  }
  
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 8rem auto;
    background-color: rgba(195, 25, 25, 0.05);
    padding: 3rem 2rem;
  }
  
  .comments span {
    color: var(--redDestaque);
    font-weight: 500;
    text-align: center;
  }
  
  .comments img {
    width: 48px;
  }
  
  .comments h2 {
    color: var(--redDestaque);
    font-weight: 500;
    text-align: center;
    max-width: 70%;
    margin: 2rem 0;
  }
  
  .comments span.nome {
    color: var(--gray-500);
    margin: 0.5rem 0;
    font-weight: 400;
  }
  
  .comments span.cargo {
    color: var(--gray-500);
    font-weight: 400;
  }